<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.looker.player_service">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".service.library.AlbumArtContentProvider"
            android:authorities="com.looker.howlmusic"
            android:exported="true" />
    </application>

</manifest>